In [1]:
import pandas as pd 
import numpy as np

In [2]:
# Fijamos semilla para que los datos sean reproducibles
np.random.seed(42)

# Cantidad de registros
n = 500

# Crear dataset
df = pd.DataFrame({
    "cliente_id": range(1, n + 1),
    "edad": np.random.randint(18, 70, n),
    "ingreso_mensual": np.random.normal(800000, 250000, n),
    "monto_credito": np.random.normal(3000000, 1200000, n),
    "score_crediticio": np.random.randint(300, 850, n),
    "tipo_cliente": np.random.choice(["Nuevo", "Recurrente", "Premium"], n),
    "tiene_mora": np.random.choice([0, 1], n, p=[0.8, 0.2])
})

In [3]:
df.head()

,cliente_id,edad,ingreso_mensual,monto_credito,score_crediticio,tipo_cliente,tiene_mora
0,1,56,1.330539e+06,1.828952e+06,680,Recurrente,0
1,2,69,1.058116e+06,4.264370e+06,357,Premium,0
2,3,46,4.201575e+05,1.860721e+06,558,Premium,0
3,4,32,6.789415e+05,6.158858e+06,641,Nuevo,0
4,5,60,1.116728e+06,3.591981e+06,429,Premium,1

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cliente_id        500 non-null    int64
 1   edad              500 non-null    int32
 2   ingreso_mensual   500 non-null    float64
 3   monto_credito     500 non-null    float64
 4   score_crediticio  500 non-null    int32
 5   tipo_cliente      500 non-null    str
 6   tiene_mora        500 non-null    int64
dtypes: float64(2), int32(2), int64(2), str(1)
memory usage: 23.6 KB

In [5]:
# Introducir valores nulos en ingreso_mensual
df.loc[np.random.choice(df.index, 20, replace=False), "ingreso_mensual"] = np.nan

# Introducir valores nulos en score_crediticio
df.loc[np.random.choice(df.index, 15, replace=False), "score_crediticio"] = np.nan

In [6]:
df.isnull().sum()

cliente_id           0
edad                 0
ingreso_mensual     20
monto_credito        0
score_crediticio    15
tipo_cliente         0
tiene_mora           0
dtype: int64

In [7]:
# Introducir outliers en ingreso_mensual
df.loc[np.random.choice(df.index, 5, replace=False), "ingreso_mensual"] = 50000000

# Introducir outliers en monto_credito
df.loc[np.random.choice(df.index, 5, replace=False), "monto_credito"] = 20000000

In [8]:
df.describe()

,cliente_id,edad,ingreso_mensual,monto_credito,score_crediticio,tiene_mora
count,500.000000,500.000000,4.800000e+02,5.000000e+02,485.000000,500.000000
mean,250.500000,44.220000,1.299420e+06,3.321858e+06,579.731959,0.228000
std,144.481833,15.036082,5.007910e+06,2.053354e+06,159.202436,0.419963
min,1.000000,18.000000,-1.031684e+04,-4.755065e+05,306.000000,0.000000
25%,125.750000,32.000000,6.171426e+05,2.333677e+06,441.000000,0.000000
50%,250.500000,45.000000,7.928975e+05,3.156644e+06,569.000000,0.000000
75%,375.250000,57.000000,9.571666e+05,3.953365e+06,719.000000,0.000000
max,500.000000,69.000000,5.000000e+07,2.000000e+07,849.000000,1.000000

In [9]:
df.to_csv("dataset_fintech_sucio.csv", index=False)